<app-header></app-header>
<section class="disclaimer">
  <div class="container">
    <div class="display_title">
      <h1 class="">किसान लाइफ केयर</h1><hr>
    </div>

    <div class="content_box">
      <div class="row">
          <p> किसान भाईयों को जानकर अति प्रसन्ता होगी कि अब हर गांव में आपकी
            अपनी फसल
            आपकी ही फैक्ट्री में जाएगी और वहां से प्रोडक्ट तैयार होकर आपके घर तक पहुंचेगा और उससे होने वाले मुनाफे में
            आप सब
            का हिस्सा होगा और यह सब करने के लिए हम किसानों को एकजुट होकर इस कार्य को करना होगा जिससे हमें विदेशी
            कंपनियों
            से छुटकारा मिल सके और जो पैसा वो कम्पनिया हमसे से रहीं ले हैं वो पैसा हमारी ही जेब में रहे ना कि दूसरी विदेशी
            कंपनी कि
            जेब में जाये और हमारे देश को गुलाम बनाऐ यह सब संभव करने के लिए हमें हर गांव में एक कमेटी बनानी पड़ेगी जो कि
            गांव
            कि फसल का ब्यौरा इकट्ठा करके किसान लाइफ केयर को बताऐ कि यह-यह फसल हमारे गांव से आपको देंगे ।
            ताकि हमारी मीलो में कभी भी सामान कि कमी ना हों और काला बाज़ारी से बच सकें और हमारी फसल से तैयार शुद्ध सामान
            गांव की दुकान पर टाइम से पहुंच सकें इस सभी को कामयाब करने के लिए हमें फैक्ट्री व जरुरत के सामान की पैकिंग हम
            सब किसान भाईयों की होगी और पूरे देश में किसान लाइफ केयर के स्टोर खोले जायेगे और हमारी कमेटी के पंजीकृत
            सदस्यों
            को ही काम दिया जायेगा । यह सब संभव हैं सिर्फ किसान एकता से और इसके लिए किसान लाइफ केयर में पंजीकरण करवाऐ
            और सामान पर छूट पाऐ और अपने जीवन में अपार खुशिया लाए । आप के साथ से होगा किसान , गांव और देश का विकास ।
          </p>
      </div>

      <!-- Bottom message -->
      <div class="row">
        <div class="col-md-6 text-center">
          <h1 class="hind">जय जवान</h1>
        </div>
        <div class="col-md-6 text-center">
          <h1 class="hind">जय किसान</h1>
        </div>
      </div>

      <!-- Registration Button -->
      <div class="text-center">
          <a routerLink="/index" class="btn btn-primary btn-lg butn">पंजीकरण करे</a>
      </div>

    </div>
  </div>
</section>

